        /*
 * Globals
 */

        /* Links */
        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }


        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
        }
        body {
            color: #fff;
            text-align: center;
            text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
        }

        /* Extra markup and styles for table-esque vertical and horizontal centering */
        .site-wrapper {
            display: table;
            width: 100%;
            height: 100%; /* For at least Firefox */
            min-height: 100%;
            box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
        }
        .site-wrapper-inner {
            display: table-cell;
            vertical-align: top;
        }
        .cover-container {
            margin-right: auto;
            margin-left: auto;
        }

        /* Padding for spacing */
        .inner {
            padding: 2rem;
        }


        /*
         * Header
         */

        .masthead {
            margin-bottom: 2rem;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255,255,255,.5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255,255,255,.25);
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }


        /*
         * Cover
         */

        .cover {
            padding: 0 1.5rem;
        }
        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }


        /*
         * Footer
         */

        .mastfoot {
            color: rgba(255,255,255,.5);
        }


        /*
         * Affix and center
         */

        @media (min-width: 40em) {
            /* Pull out the header and footer */
            .masthead {
                position: fixed;
                top: 0;
            }
            .mastfoot {
                position: fixed;
                bottom: 0;
            }

            /* Start the vertical centering */
            .site-wrapper-inner {
                vertical-align: middle;
            }

            /* Handle the widths */
            .masthead,
            .mastfoot,
            .cover-container {
                width: 100%; /* Must be percentage or pixels for horizontal alignment */
            }
        }

        @media (min-width: 62em) {
            .masthead,
            .mastfoot,
            .cover-container {
                width: 42rem;
            }
        }
        #particle {
            background-color: #333;
            position:fixed;
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:-100;
        }
        #overlay {
            position: relative;
        }



	*{
 		 font-family: sans-serif;
	 }

	.nadpis{
  	    color: white;
  	    font-size: 90px;
  	    font-weight: 5000;
  	    letter-spacing: 3px;
  	    margin-bottom: 30px;
  	    position: initial;
  	    transition: 0.5s;
  	    animation: animace 3.2s;
  	    cursor: auto;
	}

	.nadpis:hover{
  	    color: #a5a5a5;
	}

	.titulek{
  	    color: #694cad;
  	    font-size: 30px;
  	    font-weight: 500;
  	    letter-spacing: 3px;
  	    margin-bottom: 30px;
  	    position: initial;
	    animation: animace2 3.2s;
  	    cursor: auto;
	}

	.tlacitko{
  		position: absolute;
  		top: 60%;
  		left: 25%;
 		color: white;
  		padding: 15px 32px;
  		border-radius: 5px;
  		display: block;
  		border: 3px solid #fcdb03; 
  		font-size: 17px;
  		cursor: pointer;
  		text-decoration: none;
  		transition: 0.7s;
  		animation: tl1 3.8s;
	}

	.tlacitko:hover{
  		border: 3px solid #fce703;
  		background-color: #fce703;
  		color: #fff;
	}

	.tlacitko2 {
    		position: absolute;
    		top: 60%;
    		left: 65%;
    		color: white;
    		padding: 15px 32px;
    		display: block;
    		border: 3px solid #fcdb03;
    		border-radius: 5px;
    		font-size: 17px;
    		cursor: pointer;
    		text-decoration: none;
    		transition: 0.7s;
    		animation: tl2 3.8s;
	}

	.tlacitko2:hover{
  		border: 3px solid #fce703;
  		background-color: #fce703;
  		color: #fff;
	}

	.tlacitko3 {
    		position: absolute;
    		top: 60%;
    		left: 45%;
    		color: white;
    		padding: 15px 32px;
    		display: block;
    		border: 3px solid #fcdb03;
    		border-radius: 5px;
    		font-size: 17px;
    		cursor: pointer;
    		text-decoration: none;
    		transition: 0.7s;
    		animation: tl2 3.8s;
	}

	.tlacitko3:hover{
  		border: 3px solid #fce703;
  		background-color: #fce703;
  		color: #fff;
	}

.jazyk{
	    color: #fcdb03; 
  	    font-size: 30px;
  	    font-weight: 500;
  	    letter-spacing: 3px;
  	    margin-bottom: 30px;
  	    position: initial;
	    transition: 0.5s;
	    animation: animace2 3.2s;
  	    cursor: auto;
}

.jazyk:hover{
	color: #fc9403;
}	    
	    
.jazsdyk:hover{
	color: transparent;
	text-transform: uppercase;
	background-image: linear-gradient(to right, #f00,#ff0,#0ff,#0f0,#00f);
	-webkit-background-clip: text;
	animation: jazykanimation 20s linear infinite;
	background-size: 1000%;
}	    
	    
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .tlacitko {
        position: absolute;
    		top: 60%;
    		left: 50%;
    		color: white;
    		padding: 15px 32px;
    		display: block;
    		border: 3px solid #fcdb03;
    		border-radius: 5px;
    		font-size: 17px;
    		cursor: pointer;
    		text-decoration: none;
    		transition: 0.7s;
        float:left;
        text-align:center;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .tlacitko2 {
      	position: absolute;
    		top: 70%;
    		left: 50%;
    		color: white;
    		padding: 15px 32px;
    		display: block;
    		border: 3px solid #fcdb03;
    		border-radius: 5px;
    		font-size: 17px;
    		cursor: pointer;
    		text-decoration: none;
    		transition: 0.7s;
        float:left;
        text-align:center;
  }
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  animation: animace2 3.2s;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.hyro {background-color: #696362;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
	    
@keyframes jazykanimation   
{	 	
	0%
	{
		background-position: 0% 100%;
	}
	50%
	{
		background-position: 100% 0%;
	}
	100%
	{
		background-position: 0% 100%;
	}	
}	    	    
	    
@keyframes tl1{
  0%{
    opacity: 0;
    cursor: default;
  }
  79%{
    opacity: 0;
    cursor: default;
    top: 55%;
  }
}

@keyframes tl2{
  0%{
    opacity: 0;
    cursor: default;
  }
  79%{
    opacity: 0;
    cursor: default;
    top: 55%;
  }
}


@keyframes animace {
  0%{
    letter-spacing: 110px;
    margin-bottom: 0px;
    opacity: 0;
    font-size: 110px;
  }
  25%{
    letter-spacing: 0px;
    margin-bottom: 0px;
    opacity: 0.9;
    font-size: 110px
  }
  80%{
    letter-spacing: 16px;
    font-size: 110px;
    margin-bottom: 0px;
  }
}


@keyframes animace2 {
  0%{
    opacity: 0
  }
  80%{
    top: 12%;
    opacity: 0;
  }
}	    

ul {

  position:absolute;

  top:90%;

  left:50%;

  transform:translate(-50%,-50%);

  margin:0;

  padding:0;

  display:flex;
  animation: animace3 3.2s;
}

@keyframes animace3 {
  0%{
    opacity: 0
  }
  80%{
    top: -12%;
    opacity: 0;
  }
}

ul li {

  list-style:none;

}

ul li a {

  display:block;

  position:relative;

  width:100px;

  height:100px;

  line-height:100px;

  font-size:40px;

  text-align:center;

  text-decoration:none;

  color:#ffffff;

  margin: 0 33px;

  transition:.5s;

}

ul li a span {

  position:absolute;

  transition: transform .5s;

}

ul li a span:nth-child(1),

ul li a span:nth-child(3){

  width:100%;

  height:3px;

  background: #ffffff;

}

ul li a span:nth-child(1) {

  top:0;

  left:0;

  transform-origin: right;

}

ul li a:hover span:nth-child(1) {

  transform: scaleX(0);

  transform-origin: left;

  transition:transform .5s;

}



ul li a span:nth-child(3) {

  bottom:0;

  left:0;

  transform-origin: left;

}

ul li a:hover span:nth-child(3) {

  transform: scaleX(0);

  transform-origin: right;

  transition:transform .5s;

}



ul li a span:nth-child(2),

ul li a span:nth-child(4){

  width:3px;

  height:100%;

  background:#ffffff;

}

ul li a span:nth-child(2) {

  top:0;

  left:0;

  transform:scale(0);

  transform-origin: bottom;

}

ul li a:hover span:nth-child(2) {

  transform: scale(1);

  transform-origin: top;

  transition:transform .5s;

}

ul li a span:nth-child(4) {

  top:0;

  right:0;

  transform:scale(0);

  transform-origin: top;

}

ul li a:hover span:nth-child(4) {

  transform: scale(1);

  transform-origin: bottom;

  transition:transform .5s;

}


.instagram:hover {

  color: #29bbcf;

}

.instagram:hover span { 

  background: #29bbcf;

}

.github:hover {

  color: #000;

}

.github:hover span { 

  background: #000;

}


ul li a:hover:nth-child(3) {

  color: #29bbcf;

}

ul li a:hover:nth-child(4) {

  color: #dd4b39;

}
